In [1]:
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

### csv파일 읽기

In [115]:
notes_info = pd.read_csv('../data/all_note_data.csv')
note_idx_df = pd.read_csv('../data/concat_notes.csv')
cat_info = pd.read_csv('../data/concat_category.csv')

### df : 카테고리별 속하는 향을 보여주는 데이터프레임을 만드려고 한다
* columns : category_idx, category, notes, note_idx
* cat_info에서 category_idx와 category뽑아오기
* notes는 note들이 담긴 리스트 - category_idx가 [1~12]인 note들
* note_idx는 그 note들의 pk값

In [117]:
# concat_category 데이터프레임에서 pk, name만 가져오고 'notes와' 'note_idx'열을 만들어 데이터프레임(df)의 틀을 만든다.
df = cat_info[['pk', 'name']]
df.rename({'pk': 'category_idx', 'name': 'category'}, axis=1, inplace=True)
df['notes'] = None
df['note_idx'] = None

df.head(3)

   category_idx                    category notes note_idx
0             1               citrus_smells  None     None
1             2  fruits_vegetables_and_nuts  None     None
2             3                     flowers  None     None

#### all_note_data에서 note들의 pk값을 concat_notes데이터프레임에서 꺼내와서 새로운 열 (notes_idx)에 넣는다

In [119]:
notes_info['notes_idx'] = None
for i in notes_info.index:
    ind = note_idx_df.index[note_idx_df['name'] == notes_info['note'][i]].tolist()
    for item in ind:
        notes_info['notes_idx'][i] = note_idx_df['pk'][item] 
notes_info.head(3)

,note,category_idx,category_name,season,notes_idx
0,absinthe,11,beverages,"[0, 1, 2, 3]",1
1,acacia,3,flowers,"[0, 1, 2, 3]",2
2,acai berry,2,fruits_vegetables_and_nuts,"[0, 2]",3

#### category에 해당하는 note와 그에 해당하는 pk('notes_idx)를 리스트에 저장하는 함수

In [120]:
def note_list(cat_ind):
    n_list = []
    for i in notes_info.index:
        if notes_info['category_idx'][i] == cat_ind:
            n_list.append(notes_info['note'][i])
    return n_list

def noteidx_list(cat_ind):
    idx_list = []
    for i in notes_info.index:
        if notes_info['category_idx'][i] == cat_ind:
            idx_list.append(notes_info['notes_idx'][i])
    return idx_list

#### 만들어진 함수를 이용하여 1~12 카테고리에 해당하는 note들을 df의 해당 row에 추가

In [121]:
for i in range(1,13):
    n_list = note_list(i)
    df['notes'][i-1] = n_list
    idx_list = noteidx_list(i)
    df['note_idx'][i-1] = idx_list
df.head()

,category_idx,category,notes,note_idx
0,1,citrus_smells,"[bergamot, bitter orange, blood orange, calama...","[96, 101, 114, 155, 213, 226, 227, 233, 346, 3..."
1,2,fruits_vegetables_and_nuts,"[acai berry, acerola, almond, apple, apple jui...","[3, 4, 16, 45, 47, 49, 51, 56, 57, 75, 86, 90,..."
2,3,flowers,"[acacia, acerola blossom, aglaia, almond bloss...","[2, 5, 10, 17, 21, 22, 25, 40, 41, 46, 52, 64,..."
3,4,white_flowers,"[arum lily, black locust, boronia, carissa, da...","[61, 106, 122, 179, 302, 357, 367, 389, 437, 4..."
4,5,greens_herbs_and_fougeres,"[agave, algae, aloe vera, ammophila (beach gra...","[8, 14, 19, 37, 42, 48, 59, 60, 65, 69, 70, 77..."

### 만들어진 df를 csv파일로 저장 후 잘 저장되었는지 읽어와서 확인

In [122]:
df.to_csv('../data/cate_note.csv', index = False)

new = pd.read_csv('../data/cate_note.csv')
new.head(3)

,category_idx,category,notes,note_idx
0,1,citrus_smells,"['bergamot', 'bitter orange', 'blood orange', ...","[96, 101, 114, 155, 213, 226, 227, 233, 346, 3..."
1,2,fruits_vegetables_and_nuts,"['acai berry', 'acerola', 'almond', 'apple', '...","[3, 4, 16, 45, 47, 49, 51, 56, 57, 75, 86, 90,..."
2,3,flowers,"['acacia', 'acerola blossom', 'aglaia', 'almon...","[2, 5, 10, 17, 21, 22, 25, 40, 41, 46, 52, 64,..."