### category 8 : sandalwood (top, middle, base)
#### ==> cedar로 타겟 향 변경 및 타겟 note 종류도  middle, base로 변경

#### 순서
1. 향수 정보 열기
2. <카테고리  3> : top_notes에 'rose'를 포함하는 향수만 필터링
3. top_notes 리스트에의 향들 : 카테고리 3에 포함되는 향 갯수, 다음 가까운 카테고리에 포함되는 향 갯수, 그 다음...
4. 각 갯수 * 해당 가중치(1, 0.7, 0.4) ==> 'score'
5. score에 따라서 정렬 후 top 3 향수 추출
6. 저장
*** 
* 변경된 사항 : 타겟 향과 타겟 노트 종류, 그리고 score의 평균 값으로 추천 향수 추출

In [1]:
import pandas as pd
from ast import literal_eval

import warnings
warnings.filterwarnings("ignore")

In [99]:
# 향수 데이터를 필요한 칼럼만 남겨 perfume_df에 불러오기
perfume_df = pd.read_csv('../data/1st treatment_perfume.csv', index_col = 0)
perfume_df = perfume_df[['pk', 'name', 'top_notes', 'heart_notes', 'base_notes']]

perfume_df.head(2)

,pk,name,top_notes,heart_notes,base_notes
0,26120003,X-Centric,"[178, 224, 229, 292, 388, 395, 646]","[358, 545, 785]","[26, 193, 624, 692]"
1,26120006,GFT,"[96, 515, 562]","[292, 512, 886]","[193, 624, 649]"

In [100]:
# 각 카테고리별 향들의 정보가 들어있는 cate_note.csv불러오기
cat_notes = pd.read_csv('../data/cate_note.csv', index_col = 0)
cat_notes

,category,notes,note_idx
category_idx,,,
1,citrus_smells,"['bergamot', 'bitter orange', 'blood orange', ...","[96, 101, 114, 155, 213, 226, 227, 233, 346, 3..."
2,fruits_vegetables_and_nuts,"['acai berry', 'acerola', 'almond', 'apple', '...","[3, 4, 16, 45, 47, 49, 51, 56, 57, 75, 86, 90,..."
3,flowers,"['acacia', 'acerola blossom', 'aglaia', 'almon...","[2, 5, 10, 17, 21, 22, 25, 40, 41, 46, 52, 64,..."
4,white_flowers,"['arum lily', 'black locust', 'boronia', 'cari...","[61, 106, 122, 179, 302, 357, 367, 389, 437, 4..."
5,greens_herbs_and_fougeres,"['agave', 'algae', 'aloe vera', 'ammophila (be...","[8, 14, 19, 37, 42, 48, 59, 60, 65, 69, 70, 77..."
6,spices,"['allspice', 'anise', 'asafoetida', 'bay leaf'...","[15, 44, 62, 84, 151, 177, 178, 189, 222, 224,..."
7,sweets_and_gourmand_smells,"['acetyl furan', 'agave nectar', 'biscuit', 'b...","[6, 9, 100, 129, 133, 136, 137, 146, 148, 165,..."
8,woods_and_mosses,"['agarwood (oud)', 'akigalawood', 'alder', 'al...","[7, 11, 13, 18, 23, 39, 50, 54, 55, 58, 66, 74..."
9,resins_and_balsams,"['amberwood', 'balsamic vinegar', 'benzoin', '...","[30, 73, 95, 99, 131, 144, 153, 217, 218, 219,..."
10,musk_amber_animalic_smells,"['amber', 'amber xtreme', 'ambergris', 'ambert...","[26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 43, 6..."
11,beverages,"['absinthe', 'amaretto', 'baileys irish cream'...","[1, 24, 72, 88, 94, 116, 124, 154, 162, 173, 2..."
12,netural_and_synthetic_popular_and_weird,"['aldehydes', 'aluminum', 'amyl salicylate', '...","[12, 20, 38, 53, 63, 67, 113, 119, 132, 135, 1..."

In [101]:
# perfume_df의 note들 정보가 리스트가 아닌 string으로 저장되어 있으므로 리스트로 변환
# convert str to list
note_types = ['top_notes', 'heart_notes', 'base_notes']
for n_type in note_types:
    perfume_df[n_type] = perfume_df[n_type].apply(literal_eval)

In [102]:
# note에 대한 정보 (이름과  pk)을 가진 데이터 프레임
note8 = pd.read_csv('../data/concat_notes.csv')
note8 = note8[['pk', 'name']]
note8[note8['name'] == 'sandalwood'] # sandalwood pk값 확인

      pk        name
807  808  sandalwood

***

### sandalwood(808) 계산했던 코드

In [83]:
# top_notes에 808번 향을 포함하는 향수의 pk값을 top_808 리스트에 넣기
top_808 = []
for i in range(len(perfume_df)):
    for j in range(len(perfume_df['top_notes'][i])):
        if perfume_df['top_notes'][i][j] == 808:
            top_808.append(perfume_df['pk'][i])
top_808

[26120141,
 26120236,
 26120386,
 26120722,
 26120849,
 26120940,
 26120974,
 26121050,
 26121059,
 26121076,
 26121335,
 26121375,
 26121388,
 26121413,
 26121431,
 26121442,
 26121447,
 26121452,
 26121460,
 26121471,
 26121511,
 26121603,
 26121665,
 26121688,
 26121739,
 26121817,
 26122037,
 26122068,
 26122269,
 26122372,
 26122408,
 26122426,
 26122434,
 26122570,
 26122750,
 26122759,
 26122808,
 26122809,
 26123012,
 26123027,
 26123187,
 26123204,
 26123254,
 26123255,
 26123422,
 26123440,
 26123450,
 26123462,
 26123493,
 26123512,
 26123513,
 26123514,
 26123544,
 26123632,
 26123748,
 26123766,
 26124201,
 26124405,
 26124483,
 26124491,
 26124684,
 26124718,
 26124907,
 26124909,
 26124910,
 26124920,
 26124921,
 26124929,
 26124945,
 26125086,
 26125087,
 26125270,
 26125342,
 26125374,
 26125541,
 26125636,
 26125673,
 26125710,
 26125727,
 26125947,
 26125989,
 26126018,
 26126034,
 26126040,
 26126186,
 26126187,
 26126230,
 26126266,
 26126326,
 26126485,
 26126709,
 26126958,
 26126959,
 26126964,
 26126989,
 26127053,
 26127111,
 26127168,
 26127287,
 26127337,
 26128234,
 26128285,
 26128364,
 26128468,
 26128473,
 26128532,
 26128629,
 26128656,
 26128772,
 26128869,
 26128875,
 26128924,
 26128984,
 26129013,
 26129014,
 26129016,
 26129081,
 26129082,
 26129099,
 26129201,
 26129254,
 26129281,
 26129342,
 26129353,
 26129359,
 26129443,
 26129486,
 26129602,
 26129625,
 26129637,
 26129659,
 26129680,
 26129681,
 26129736,
 26129768,
 26129769,
 26129770,
 26129823,
 26129829,
 26129832,
 26129900,
 26129911,
 26130007,
 26130015,
 26130037,
 26130197,
 26130219,
 26130220,
 26130274,
 26130277,
 26130301,
 26130304,
 26130400,
 26130448,
 26130464,
 26130509,
 26130511,
 26130512,
 26130517,
 26130553,
 26130578,
 26130579,
 26130667,
 26130696,
 26130826,
 26130867,
 26130868,
 26130911,
 26131059,
 26131061,
 26131076,
 26131138,
 26131170,
 26131182,
 26131204,
 26131207,
 26131221,
 26131224,
 26131262,
 26131264,
 26131266,
 26131273,
 26131286,
 26131311,
 26131412,
 26131422,
 26131542,
 26131543,
 26131552,
 26131612,
 26131718,
 26131723,
 26131739,
 26131746,
 26131763,
 26131766,
 26131805,
 26131809,
 26132072,
 26132083,
 26132125,
 26132172,
 26132177,
 26132257,
 26132259,
 26132294,
 26132295,
 26132299,
 26132335,
 26132393,
 26132413,
 26132414,
 26132418,
 26132426,
 26132429,
 26132481,
 26132489,
 26132521,
 26132763,
 26132784,
 26132799,
 26132824,
 26132856,
 26132873,
 26132901,
 26132951,
 26133005,
 26133144,
 26133184,
 26133192,
 26133193,
 26133227,
 26133317,
 26133350,
 26133353,
 26133355,
 26133358,
 26133359,
 26133362,
 26133366,
 26133371,
 26133431,
 26133495,
 26133556,
 26133556,
 26133774,
 26133800,
 26133824,
 26133831,
 26133859,
 26133948,
 26133990,
 26134050,
 26134107,
 26134309,
 26134324,
 26134327,
 26134411,
 26134430,
 26134436,
 26134635,
 26134644,
 26134701,
 26134745,
 26134803,
 26134900,
 26134901,
 26134964,
 26134980,
 26134985,
 26135021,
 26135034,
 26135127,
 26135208,
 26135269,
 26135470,
 26135572,
 26135626,
 26135649,
 26135658,
 26135669,
 26135697,
 26135704,
 26135840,
 26135880,
 26135889,
 26135913,
 26135985,
 26136010,
 26136078,
 26136098,
 26136100,
 26136112,
 26136126,
 26136132,
 26136175,
 26136197,
 26136382,
 26136422,
 26136665,
 26136812,
 26136909,
 26136950,
 26137159,
 26137202,
 26137257,
 26137283,
 26137362,
 26137364,
 26137442,
 26137520,
 26137521,
 26137563,
 26137665,
 26137676,
 26137687,
 26137688,
 26137690,
 26137692,
 26137735,
 26137752,
 26137815,
 26137921,
 26137923,
 26137927,
 26138442,
 26138516,
 26138533,
 26138571,
 26138671,
 26138900,
 26138928,
 26138956,
 26139007,
 26139049,
 26139187,
 26139197,
 26139208,
 26139209,
 26139210,
 26139254,
 26139285,
 26139320,
 26139323,
 26139373,
 26139585,
 26139605,
 26139641,
 26139647,
 26139653,
 26139730,
 26139766,
 26139775,
 26139776,
 26139814,
 26139821,
 26139834,
 26139849,
 26139865,
 26139866,
 26139868,
 26139974,
 26140033,
 26140081,
 26140091,
 26140095,
 26140115,
 26140161,
 26140163,
 26140206,
 26140227,
 26140259,
 26140394,
 26140530,
 26140536,
 26140549,
 26140635,
 26140690,
 26140816,
 26140832,
 26140859,
 26140995,
 26141059,
 26141195,
 26141209,
 26141284,
 26141293,
 26141395,
 26141395,
 26141479,
 26141516,
 26141795,
 26141813,
 26141819,
 26141834,
 26141850,
 26142055,
 26142102,
 26142111,
 26142243,
 26142335,
 26142574,
 26142575,
 26142592,
 26142616,
 26142658,
 26142672,
 26142711,
 26142754,
 26142757,
 26142850,
 26143012,
 26143022,
 26143031,
 26143036,
 26143071,
 26143109,
 26143118,
 26143134,
 26143135,
 26143280,
 26143338,
 26143361,
 26143384,
 26143417,
 26143453,
 26143454,
 26143464,
 26143685,
 26143842,
 26143905,
 26143906,
 26143927,
 26143953,
 26143959,
 26143960,
 26143971,
 26144003,
 26144142,
 26144143,
 26144172,
 26144213,
 26144246,
 26144267,
 26144294,
 26144299,
 26144327,
 26144334,
 26144398,
 26144522,
 26144523,
 26144596,
 26144697,
 26144733,
 26144874,
 26145090,
 26145125,
 26145149,
 26145243,
 26145254,
 26145364,
 26145376,
 26145408,
 26145679,
 26145742,
 26145890,
 26145951,
 26145992,
 26145994,
 26146002,
 26146035,
 26146257,
 26146367,
 26146419,
 26146489,
 26146490,
 26146503,
 26146532,
 26146533,
 26146622,
 26146647,
 26146648,
 26146650,
 26146651,
 26146674,
 26146683,
 26146684,
 26146686,
 26146700,
 26146781,
 26146947,
 26147000,
 26147068,
 26147076,
 26147108,
 26147158,
 26147233,
 26147277,
 26147376,
 26147398,
 26147411,
 26147494,
 26147501,
 26147504,
 26147508,
 26147526,
 26147527,
 26147528,
 26147667,
 26147760,
 26147809,
 26147821,
 26147838,
 26147843,
 26147898,
 26147899,
 26147929,
 26147968,
 26148169,
 26148225,
 26148246,
 26148274,
 26148426,
 26148519,
 26148520,
 26148521,
 26148585,
 26148630,
 26148751,
 26148766,
 26148779,
 26148791,
 26148795,
 26148806,
 26148834,
 26148838,
 26148848,
 26148929,
 26148942,
 26148974,
 26149032,
 26149064,
 26149065,
 26149087,
 26149115,
 26149135,
 26149152,
 26149254,
 26149309,
 26149345,
 26149351,
 26149392,
 26149447,
 26149596,
 26149599,
 26149679,
 26149681,
 26149730,
 26149732,
 26149753,
 26149756,
 26149758,
 26149775,
 26149783,
 26149826,
 26149861,
 26149864,
 26149882,
 26149905,
 26149906,
 26149946,
 26150008,
 26150101,
 26150153,
 26150175,
 26150223,
 26150273,
 26150283,
 26150291,
 26150296,
 26150359,
 26150435,
 26150503,
 26150600,
 26150602,
 26150680,
 26150743,
 26150780,
 26150812,
 26150830,
 26150907,
 26150932,
 26150974,
 26150982,
 26150989,
 26151049,
 26151178,
 26151240,
 26151241,
 26151243,
 26151248,
 26151270,
 26151331,
 26151427,
 26151430,
 26151491,
 26151527,
 26151528,
 26151532,
 26151540,
 26151551,
 26151634,
 26151686,
 26151695,
 26151721,
 26151755,
 26151765,
 26151800,
 26151827,
 26151871,
 26152012,
 26152023,
 26152037,
 26152064,
 26152100,
 26152102,
 26152104,
 26152104,
 26152105,
 26152122,
 26152147,
 26152185,
 26152186,
 26152188,
 26152224,
 26152273,
 26152322,
 26152339,
 26152351,
 26152393,
 26152416,
 26152444,
 26152447,
 26152491,
 26152556,
 26152580,
 26152593,
 26152594,
 26152622,
 26152682,
 26152695,
 26152725,
 26152770,
 26152786,
 26152826,
 26153054,
 26153088,
 26153164,
 26153245,
 26153255,
 26153314,
 26153315,
 26153338,
 26153372,
 26153373,
 26153507,
 26153522,
 26153646,
 26153688,
 26153692,
 26153743,
 26153751,
 26153944,
 26153979,
 26153998,
 26154001,
 26154068,
 26154084,
 26154217,
 26154316,
 26154361,
 26154392,
 26154421,
 26154437,
 26154562,
 26154619,
 26154634,
 26154665,
 26154668,
 26154716,
 26154744,
 26154775,
 26154777,
 26154778,
 26154829,
 26154843,
 26154873,
 26154914,
 26155007,
 26155095,
 26155099,
 26155107,
 26155204,
 26155207,
 26155212,
 26155212,
 26155253,
 26155273,
 26155376,
 26155378,
 26155379,
 26155394,
 26155454,
 26155478,
 26155518,
 26155556,
 26155580,
 26155608,
 26155608,
 26155622,
 26155627,
 26155638,
 26155641,
 26155724,
 26155733,
 26155742,
 26155778,
 26155889,
 26155900,
 26155908,
 26155951,
 26155999,
 26156002,
 26156023,
 26156036,
 26156061,
 26156121,
 26156172,
 26156207,
 26156212,
 26156213,
 26156305,
 26156309,
 26156310,
 26156311,
 26156312,
 26156320,
 26156345,
 26156365,
 26156383,
 26156432,
 26156532,
 26156799,
 26156802,
 26156880,
 26156939,
 26156962,
 26157004,
 26157030,
 26157051,
 26157061,
 26157081,
 26157081,
 26157082,
 26157085,
 26157128,
 26157129,
 26157147,
 26157148,
 26157169,
 26157170,
 26157184,
 26157187,
 26157188,
 26157228,
 26157271,
 26157293,
 26157316,
 26157349,
 26157369,
 26157373,
 26157374,
 26157377,
 26157398,
 26157499,
 26157500,
 26157567,
 26157617,
 26157652,
 26157744,
 26157782,
 26157795,
 26157805,
 26157805,
 26157806,
 26157806,
 26157807,
 26157851,
 26157876,
 26157942,
 26157948,
 26157955,
 26157975,
 26158017,
 26158042,
 26158046,
 26158066,
 26158073,
 26158119,
 26158120,
 26158184,
 26158230,
 26158235,
 26158272,
 26158282,
 26158286,
 26158303,
 26158314,
 26158331,
 26158359,
 26158362,
 26158366,
 26158376,
 26158377,
 26158417,
 26158465,
 26158498,
 26158636,
 26158637,
 26158660,
 26158741,
 26158784,
 26158912,
 26158984,
 26159045,
 26159121,
 26159195,
 26159247,
 26159259,
 26159278,
 26159279,
 26159281,
 26159309,
 26159403,
 26159520,
 26159522,
 26159562,
 26159563,
 26159565,
 26159568,
 26159713,
 26159717,
 26159742,
 26159747,
 26159748,
 26159854,
 26159856,
 26159862,
 26159944,
 26160067,
 26160091,
 26160092,
 26160102,
 26160103,
 26160103,
 26160145,
 26160149,
 26160173,
 26160212,
 26160217,
 26160225,
 26160272,
 26160374,
 26160377,
 26160383,
 26160427,
 26160491,
 26160537,
 26160638]

In [88]:
# top_808리스트 속의 값을 pk로 가지는 향수만 골라서 새로 데이터 프레임 만들기
test = []
for i in top_808:
    test.append(perfume_df[perfume_df['pk'] == i])

df = test[0]
for i in range(1,len(test)):
    df = df.append(test[i])
df = df.reset_index(drop = True)
df

,pk,name,top_notes,heart_notes,base_notes
0,26120141,Astor,"[177, 808]",[],[]
1,26120236,Bois Precieux,"[26, 649, 808, 920]",[],[]
2,26120386,Comme des Garçons Parfum,"[193, 224, 259, 433, 708, 785, 808, 863]",[],[]
3,26120722,Greenbriar,"[26, 60, 512, 802, 808, 896, 924]",[],[]
4,26120849,Iris Silver Mist,"[27, 193, 237, 366, 472, 498, 624, 808, 924]",[],[]
...,...,...,...,...,...
874,26160383,Mon Oasis,"[193, 414, 473, 512, 624, 649, 698, 808, 900, ...",[],[]
875,26160427,Sandalo del Kashmir e Vetiver,"[376, 808, 924]",[],[]
876,26160491,Saffron Orris,"[562, 646, 669, 800, 802, 808]",[],[]
877,26160537,Tiwa,"[483, 530, 661, 692, 715, 808, 883, 924]",[],[]
878,26160638,Confetti,"[785, 808, 928]",[],[]

filter된 향수 중 heart_note에 808가지는가

In [89]:
mid_808 = []

for i in range(len(df)):
    for j in range(len(df['heart_notes'][i])):
        if df['heart_notes'][i][j] == 808:
            mid_808.append(df['pk'][i])
print(mid_808[0:3])
print(len(mid_808))

[26135470, 26149730, 26149732]
3

In [90]:
test = []
for i in mid_808:
    test.append(perfume_df[perfume_df['pk'] == i])

df_middle = test[0]
for i in range(1,len(test)):
    df_middle = df_middle.append(test[i])
df_middle

,pk,name,top_notes,heart_notes,base_notes
4562,26135470,Traveler,"[403, 808]","[7, 193, 808, 924]","[26, 692, 908]"
9793,26149730,Black Bay : Capture,"[96, 229, 282, 808, 863]","[473, 808]","[193, 624, 920]"
9795,26149732,Oud Santal,"[229, 282, 808, 863]","[473, 808]",[920]

==> 3note들에 808이 다 들어가는게 없음

***

#### sandalwood에서 cedar로 타겟값 바꾸기

In [87]:
note8[note8['name'] == 'cedar'] # cedar의 pk값 확인

      pk   name
192  193  cedar

#### note값 바꾸고 middle & base만 보기

In [103]:
# heart_notes(middle note)에 타겟 향 (193)을 포함하는 향수 pk값 리스트로 반환
middle_193 = []

for i in range(len(perfume_df)):
    for j in range(len(perfume_df['heart_notes'][i])):
        if perfume_df['heart_notes'][i][j] == 193:
            middle_193.append(perfume_df['pk'][i])
print(middle_193[0:3])
print(len(middle_193))

[26120055, 26120057, 26120117]
592

In [104]:
# 반환된 리스트 값을 pk로 가지는 향수 정보를 보여주는 데이터 프레임
test = []
for i in middle_193:
    test.append(perfume_df[perfume_df['pk'] == i])

df = test[0]
for i in range(1,len(test)):
    df = df.append(test[i])
df =df.reset_index(drop = True)
df

,pk,name,top_notes,heart_notes,base_notes
0,26120055,Adidas Dynamic / Dynamic Pulse,"[227, 604]","[193, 353, 354]","[7, 908]"
1,26120057,Adidas Moves,"[44, 45, 604, 688, 708, 723, 906]","[193, 372, 376, 473, 480, 512, 624]","[649, 808, 896]"
2,26120117,Aqua Velva Ice Blue,"[96, 512, 515, 604, 715]","[193, 229, 473, 924]","[26, 498, 513, 624, 649]"
3,26120132,Arrogance pour Homme,"[96, 512, 708]","[193, 372, 433, 900]","[26, 498, 649, 692]"
4,26120149,Avon Uomo,"[82, 480]",[193],"[292, 624]"
...,...,...,...,...,...
587,26160415,Quai 3,"[529, 684]","[193, 599, 927]","[193, 229, 461, 649, 692]"
588,26160477,Luxor,"[178, 513]","[193, 472, 627, 900]","[293, 692]"
589,26160593,Junipera,"[114, 178, 481]","[193, 229, 513, 800]","[193, 624]"
590,26160605,No 34 : Aged Patchouli Attar - '1900 Vienna',"[96, 660, 661, 715, 765]","[193, 372, 473, 652]","[187, 417, 498, 669, 808, 920]"
591,26160610,No 38 : Blondewood Silkensuede,[96],"[193, 785]","[513, 864]"

In [106]:
# 필터링된 데이터 프레임에서 base_notes에 타겟 향을 가지는 향수의 pk값 리스트에 반환
base_193 = []

for i in range(len(df)):
    for j in range(len(df['base_notes'][i])):
        if df['base_notes'][i][j] == 193:
            base_193.append(df['pk'][i])
print(base_193[0:3])
print(len(base_193))

[26121714, 26126752, 26128579]
18

In [107]:
# 반환된 리스트의 값을 pk값으로 가지는 향수의 정보 데이터프레임으로 출력
test = []
for i in base_193:
    test.append(perfume_df[perfume_df['pk'] == i])

df_base = test[0]
for i in range(1,len(test)):
    df_base = df_base.append(test[i])
print(len(df_base))
df_final = df_base.reset_index(drop = True)

18

***

#### df_final을 점수 처리해서 top3 향수를 뽑자!
* category 8 = 1, cat1 = 0.7, cat5 = 0.3 점

In [108]:
df_final.head(3)

,pk,name,top_notes,heart_notes,base_notes
0,26121714,Xeryus Rouge,"[152, 497, 886]","[193, 708]","[193, 808]"
1,26126752,Next Generation,"[178, 388, 412, 715]","[193, 473]","[26, 193, 624, 692, 924]"
2,26128579,David Beckham Intense Instinct,"[376, 515, 593]","[193, 259]",[193]

#### 필터링이 된 df(df_final)에서 점수 계산 후 탑3개

In [109]:
cat8 = cat_notes['note_idx'].apply(literal_eval)[8] # 8번 카테고리에 해당하는 note들의 pk값 리스트
cat1 = cat_notes['note_idx'].apply(literal_eval)[1] # 1번 카테고리에 해당하는 note들의 pk값 리스트
cat5 = cat_notes['note_idx'].apply(literal_eval)[5] # 5번 카테고리에 해당하는 note들의 pk값 리스트

In [110]:
# 타겟 카테고리에 해당하는 향을 카테고리에 따라 a 또는 b 또는 c로 변경하는 함수
def convert_note(target_type):
    for i in range(len(df_final)):
        for j in range(len(df_final[target_type][i])):
            if df_final[target_type][i][j] in cat8:
                df_final[target_type][i][j] = 'a'
            elif df_final[target_type][i][j] in cat1:
                df_final[target_type][i][j] = 'b'
            elif df_final[target_type][i][j] in cat5:
                df_final[target_type][i][j] = 'c'
            else:
                pass

In [113]:
# target_type을 *_note 열들로 지정하고 위 조건에 해당하는 값을 변경
target_type = ['top_notes', 'heart_notes', 'base_notes']
for i in target_type:
    convert_note(i)
    
df_final.head(3)

,pk,name,top_notes,heart_notes,base_notes
0,26121714,Xeryus Rouge,"[c, b, c]","[a, 708]","[a, a]"
1,26126752,Next Generation,"[178, b, b, b]","[a, 473]","[26, a, 624, a, a]"
2,26128579,David Beckham Intense Instinct,"[376, b, 593]","[a, 259]",[a]

In [69]:
# Import Counter from collections
from collections import Counter

# 데이터 프레임에 score열을 만들고 위에서 번환된 note값에 따라 점수 계산
# 8번 카테고리 향은 1점, 1번 카테고리 향은 0.7점, 5번 카테고리 향은 0.4점

# 점수 계산 함수
def score_cal(target_type):
    score = Counter(df_final[target_type][i])['a'] * 1 + Counter(df_final[target_type][i])['b'] * 0.7 + Counter(df_final[target_type][i])['c'] * 0.4
    return score

df_final['score'] = 0
for i in range(len(df_final)):
    t_score = score_cal('top_notes')
    m_score = score_cal('heart_notes')
    b_score = score_cal('base_notes')
    df_final['score'][i] = t_score + m_score + b_score
df_final.head(3)

,pk,name,top_notes,heart_notes,base_notes,score
0,26121714,Xeryus Rouge,"[c, b, c]","[a, 708]","[a, a]",4.5
1,26126752,Next Generation,"[178, b, b, b]","[a, 473]","[26, a, 624, a, a]",6.1
2,26128579,David Beckham Intense Instinct,"[376, b, 593]","[a, 259]",[a],2.7
3,26132664,dirty ROSE,"[b, 725, 785, 785]","[a, 498, 652, 669, a, 785, 785, a]","[28, a, 513, a, 863, c, a]",7.1
4,26135681,Koh-Do,"[b, 472]","[a, 102, a, 246, 646]","[a, a, 908]",4.7

In [116]:
# score값에 따른 top 3
df_final.sort_values(by = 'score', ascending = False)[0:3]

,pk,name,top_notes,heart_notes,base_notes,score
6,26141692,Extrait de Cedrat,"[c, b, b]","[a, b, a]","[a, a, a, a, c]",8.9
3,26132664,dirty ROSE,"[b, 725, 785, 785]","[a, 498, 652, 669, a, 785, 785, a]","[28, a, 513, a, 863, c, a]",7.1
10,26146550,Creative Collection: 5Elements,"[44, 290, 372, 529, 593, 646, 708]","[a, 473, a, 785]","[a, 26, a, a, a, a, 920]",7.0

In [120]:
# 해당 향수의 전체 노트의 수 = 'total_notes'
df_final['total_notes'] = None
# 해당 향수의 평균 점수
df_final['score_avg'] = 0

# 노트들의 리스트 길이를 이용하여 평균 점수 구하기
for i in range(len(df_final)):
    df_final['total_notes'][i] = len(df_final['top_notes'][i] + df_final['heart_notes'][i] + df_final['base_notes'][i])
    df_final['score_avg'][i] = df_final['score'][i]/df_final['total_notes'][i]
df_final.head(3)

,pk,name,top_notes,heart_notes,base_notes,score,total_notes,score_avg
0,26121714,Xeryus Rouge,"[c, b, c]","[a, 708]","[a, a]",4.5,7,0.642857
1,26126752,Next Generation,"[178, b, b, b]","[a, 473]","[26, a, 624, a, a]",6.1,11,0.554545
2,26128579,David Beckham Intense Instinct,"[376, b, 593]","[a, 259]",[a],2.7,6,0.450000

In [121]:
# 평균 점수로 정한 top 3향수
df_final.sort_values(by = 'score_avg', ascending = False)[0:3]

,pk,name,top_notes,heart_notes,base_notes,score,total_notes,score_avg
6,26141692,Extrait de Cedrat,"[c, b, b]","[a, b, a]","[a, a, a, a, c]",8.9,11,0.809091
7,26143465,Bois d'Oud,"[a, b]","[a, 800]","[a, a, a, c]",6.1,8,0.762500
0,26121714,Xeryus Rouge,"[c, b, c]","[a, 708]","[a, a]",4.5,7,0.642857

In [137]:
df_base = pd.read_csv('../data/fill_season_catagory.csv')

# 점수 계산 후 나온 상위 3개의 향수의 pk값을 이용하여 향수 최종 데이터에서 동일 pk값을 가진 향수 정보를 추출 
result = df_final.sort_values(by = 'score_avg', ascending = False)[0:3]
result_pk = result['pk'].reset_index(drop=True)

fin = df_base[df_base['pk'] == result_pk[0]]
for i in range(1, len(result_pk)):
    fin = fin.append(df_base[df_base['pk'] == result_pk[i]])

# 결과 데이터 프레임 csv로 저장
fin.to_csv('../data/category8_result.csv')

0    26141692
1    26143465
2    26121714
Name: pk, dtype: int64

***

#### 헷갈려서 다른 거 구하고 있던 코드
* 특정 향을 가진 향수가 아닌 특정 카테고리내의 향을 포함한 향수를 구하고 있었다

In [25]:
cat8 = cat_notes['note_idx'].apply(literal_eval)[8] # 8번 카테고리에 해당하는 note들의 pk값 리스트
middle_perfume = []

for i in range(len(perfume_df)):
    for j in range(len(perfume_df['heart_notes'][i])):
        if perfume_df['heart_notes'][i][j] in cat8:
            top_perfume.append(perfume_df['pk'][i])
top_perfume

[26120003,
 26120019,
 26120076,
 26120105,
 26120141,
 26120159,
 26120223,
 26120232,
 26120235,
 26120236,
 26120236,
 26120244,
 26120263,
 26120365,
 26120384,
 26120384,
 26120384,
 26120386,
 26120386,
 26120387,
 26120387,
 26120418,
 26120418,
 26120467,
 26120467,
 26120488,
 26120504,
 26120504,
 26120519,
 26120519,
 26120519,
 26120528,
 26120528,
 26120538,
 26120546,
 26120555,
 26120573,
 26120573,
 26120586,
 26120586,
 26120613,
 26120613,
 26120695,
 26120722,
 26120722,
 26120745,
 26120796,
 26120806,
 26120808,
 26120849,
 26120849,
 26120849,
 26120888,
 26120927,
 26120933,
 26120940,
 26120974,
 26121044,
 26121050,
 26121059,
 26121059,
 26121059,
 26121059,
 26121076,
 26121076,
 26121095,
 26121095,
 26121107,
 26121113,
 26121113,
 26121114,
 26121137,
 26121137,
 26121143,
 26121144,
 26121144,
 26121146,
 26121199,
 26121199,
 26121210,
 26121210,
 26121210,
 26121262,
 26121266,
 26121272,
 26121272,
 26121335,
 26121335,
 26121341,
 26121341,
 26121341,
 26121372,
 26121375,
 26121375,
 26121380,
 26121380,
 26121382,
 26121388,
 26121388,
 26121391,
 26121391,
 26121406,
 26121413,
 26121414,
 26121431,
 26121442,
 26121442,
 26121442,
 26121442,
 26121447,
 26121447,
 26121452,
 26121452,
 26121460,
 26121460,
 26121462,
 26121466,
 26121469,
 26121470,
 26121471,
 26121471,
 26121511,
 26121511,
 26121566,
 26121570,
 26121570,
 26121574,
 26121578,
 26121603,
 26121603,
 26121647,
 26121662,
 26121665,
 26121665,
 26121681,
 26121688,
 26121688,
 26121700,
 26121700,
 26121700,
 26121704,
 26121737,
 26121737,
 26121739,
 26121739,
 26121743,
 26121747,
 26121747,
 26121758,
 26121817,
 26121832,
 26121907,
 26121937,
 26121937,
 26121948,
 26122019,
 26122025,
 26122025,
 26122025,
 26122025,
 26122026,
 26122031,
 26122037,
 26122037,
 26122037,
 26122042,
 26122044,
 26122068,
 26122098,
 26122100,
 26122102,
 26122117,
 26122117,
 26122155,
 26122157,
 26122173,
 26122186,
 26122211,
 26122229,
 26122238,
 26122258,
 26122260,
 26122268,
 26122268,
 26122268,
 26122269,
 26122269,
 26122270,
 26122280,
 26122296,
 26122320,
 26122320,
 26122372,
 26122372,
 26122408,
 26122426,
 26122426,
 26122434,
 26122434,
 26122466,
 26122468,
 26122489,
 26122520,
 26122531,
 26122534,
 26122543,
 26122570,
 26122570,
 26122665,
 26122665,
 26122706,
 26122706,
 26122706,
 26122711,
 26122711,
 26122717,
 26122717,
 26122742,
 26122750,
 26122759,
 26122759,
 26122759,
 26122796,
 26122805,
 26122808,
 26122809,
 26122809,
 26122864,
 26122936,
 26122984,
 26123006,
 26123006,
 26123012,
 26123027,
 26123095,
 26123119,
 26123127,
 26123161,
 26123187,
 26123204,
 26123204,
 26123204,
 26123211,
 26123211,
 26123223,
 26123233,
 26123254,
 26123255,
 26123287,
 26123287,
 26123305,
 26123328,
 26123328,
 26123382,
 26123398,
 26123398,
 26123398,
 26123422,
 26123440,
 26123440,
 26123441,
 26123443,
 26123450,
 26123450,
 26123462,
 26123465,
 26123488,
 26123488,
 26123493,
 26123512,
 26123512,
 26123512,
 26123513,
 26123513,
 26123513,
 26123514,
 26123514,
 26123541,
 26123544,
 26123576,
 26123577,
 26123581,
 26123582,
 26123590,
 26123592,
 26123632,
 26123640,
 26123648,
 26123657,
 26123676,
 26123676,
 26123719,
 26123748,
 26123766,
 26123785,
 26123785,
 26123789,
 26123790,
 26123790,
 26123809,
 26123812,
 26123824,
 26123829,
 26124150,
 26124167,
 26124167,
 26124167,
 26124201,
 26124304,
 26124368,
 26124382,
 26124382,
 26124394,
 26124404,
 26124405,
 26124405,
 26124432,
 26124455,
 26124483,
 26124491,
 26124491,
 26124509,
 26124512,
 26124560,
 26124563,
 26124563,
 26124564,
 26124573,
 26124575,
 26124593,
 26124593,
 26124593,
 26124670,
 26124684,
 26124684,
 26124716,
 26124716,
 26124718,
 26124718,
 26124750,
 26124876,
 26124899,
 26124907,
 26124907,
 26124909,
 26124910,
 26124910,
 26124910,
 26124912,
 26124913,
 26124915,
 26124919,
 26124920,
 26124921,
 26124921,
 26124921,
 26124925,
 26124927,
 26124929,
 26124929,
 26124931,
 26124931,
 26124932,
 26124932,
 26124933,
 26124934,
 26124945,
 26125025,
 26125026,
 26125031,
 26125032,
 26125086,
 26125087,
 26125158,
 26125175,
 26125188,
 26125269,
 26125270,
 26125270,
 26125270,
 26125270,
 26125271,
 26125271,
 26125310,
 26125342,
 26125367,
 26125367,
 26125374,
 26125374,
 26125374,
 26125439,
 26125473,
 26125479,
 26125541,
 26125541,
 26125557,
 26125564,
 26125636,
 26125673,
 26125673,
 26125710,
 26125727,
 26125727,
 26125727,
 26125727,
 26125740,
 26125821,
 26125838,
 26125842,
 26125848,
 26125940,
 26125940,
 26125946,
 26125946,
 26125947,
 26125947,
 26125989,
 26125989,
 26125989,
 26126010,
 26126018,
 26126034,
 26126034,
 26126034,
 26126036,
 26126036,
 26126040,
 26126040,
 26126043,
 26126156,
 26126183,
 26126184,
 26126186,
 26126186,
 26126187,
 26126207,
 26126207,
 26126230,
 26126266,
 26126299,
 26126326,
 26126326,
 26126326,
 26126326,
 26126436,
 26126485,
 26126695,
 26126696,
 26126697,
 26126698,
 26126705,
 26126709,
 26126871,
 26126951,
 26126951,
 26126958,
 26126958,
 26126958,
 26126958,
 26126959,
 26126964,
 26126989,
 26127003,
 26127044,
 26127045,
 26127045,
 26127046,
 26127046,
 26127048,
 26127048,
 26127052,
 26127053,
 26127056,
 26127111,
 26127111,
 26127144,
 26127144,
 26127168,
 26127169,
 26127171,
 26127172,
 26127173,
 26127235,
 26127287,
 26127294,
 26127298,
 26127298,
 26127299,
 26127300,
 26127300,
 26127327,
 26127327,
 26127331,
 26127337,
 26128178,
 26128183,
 26128233,
 26128233,
 26128233,
 26128234,
 26128234,
 26128285,
 26128286,
 26128287,
 26128289,
 26128307,
 26128318,
 26128347,
 26128347,
 26128362,
 26128364,
 26128364,
 26128364,
 26128402,
 26128402,
 26128421,
 26128453,
 26128453,
 26128453,
 26128460,
 26128468,
 26128468,
 26128473,
 26128526,
 26128532,
 26128532,
 26128543,
 26128568,
 26128571,
 26128590,
 26128590,
 26128590,
 26128594,
 26128594,
 26128607,
 26128616,
 26128617,
 26128629,
 26128650,
 26128656,
 26128661,
 26128662,
 26128673,
 26128673,
 26128674,
 26128693,
 26128725,
 26128772,
 26128795,
 26128834,
 26128834,
 26128855,
 26128869,
 26128869,
 26128870,
 26128870,
 26128872,
 26128875,
 26128876,
 26128877,
 26128895,
 26128895,
 26128924,
 26128924,
 26128930,
 26128936,
 26128937,
 26128938,
 26128939,
 26128940,
 26128941,
 26128944,
 26128944,
 26128967,
 26128967,
 26128970,
 26128984,
 26128995,
 26129011,
 26129013,
 26129014,
 26129016,
 26129016,
 26129016,
 26129031,
 26129081,
 26129082,
 26129086,
 26129091,
 26129096,
 26129099,
 26129099,
 26129099,
 26129100,
 26129101,
 26129102,
 26129102,
 26129104,
 26129104,
 26129106,
 26129107,
 26129108,
 26129110,
 26129110,
 26129117,
 26129117,
 26129132,
 26129133,
 26129134,
 26129166,
 26129200,
 26129201,
 26129201,
 26129201,
 26129201,
 26129201,
 26129254,
 26129254,
 26129266,
 26129281,
 26129281,
 26129308,
 26129311,
 26129311,
 26129311,
 26129336,
 26129336,
 26129339,
 26129342,
 26129351,
 26129351,
 26129353,
 26129357,
 26129357,
 26129359,
 26129359,
 26129360,
 26129360,
 26129360,
 26129361,
 26129380,
 26129392,
 26129395,
 26129400,
 26129424,
 26129431,
 26129431,
 26129432,
 26129442,
 26129442,
 26129443,
 26129443,
 26129445,
 26129447,
 26129451,
 26129453,
 26129453,
 26129453,
 26129486,
 26129486,
 26129490,
 26129491,
 26129491,
 26129592,
 26129602,
 26129602,
 26129616,
 26129620,
 26129620,
 26129625,
 26129625,
 26129637,
 26129637,
 26129652,
 26129656,
 26129659,
 26129659,
 26129659,
 26129666,
 26129680,
 26129680,
 26129680,
 26129681,
 26129681,
 26129682,
 26129685,
 26129685,
 26129736,
 26129761,
 26129768,
 26129768,
 26129769,
 26129769,
 26129769,
 26129770,
 26129770,
 26129770,
 26129772,
 26129787,
 26129787,
 26129823,
 26129823,
 26129827,
 26129829,
 26129829,
 26129832,
 26129900,
 26129911,
 26129918,
 26129918,
 26129922,
 26129926,
 26129926,
 26130007,
 26130007,
 26130015,
 26130037,
 26130037,
 26130040,
 26130184,
 26130184,
 26130187,
 26130187,
 26130197,
 26130197,
 26130197,
 26130205,
 26130219,
 26130219,
 26130220,
 26130252,
 26130252,
 26130252,
 26130274,
 26130277,
 26130301,
 26130304,
 26130304,
 26130307,
 26130307,
 26130361,
 26130361,
 26130366,
 26130370,
 26130377,
 26130379,
 26130399,
 26130400,
 26130400,
 26130400,
 26130400,
 26130401,
 26130402,
 26130447,
 26130448,
 26130464,
 26130464,
 26130469,
 26130509,
 26130509,
 26130511,
 26130511,
 26130511,
 26130512,
 26130512,
 26130512,
 26130512,
 26130512,
 26130517,
 26130517,
 26130553,
 26130578,
 26130579,
 26130579,
 26130579,
 26130579,
 26130615,
 26130615,
 26130616,
 26130619,
 26130666,
 26130667,
 26130680,
 26130681,
 26130687,
 26130696,
 26130754,
 26130806,
 26130812,
 26130819,
 26130819,
 26130826,
 26130826,
 26130838,
 26130850,
 26130851,
 26130851,
 26130851,
 26130856,
 26130857,
 26130858,
 26130858,
 26130858,
 26130858,
 26130860,
 26130866,
 26130867,
 26130867,
 26130868,
 26130868,
 26130908,
 26130908,
 26130910,
 26130911,
 26130911,
 26130994,
 26130994,
 26130994,
 26130995,
 26130995,
 26131036,
 26131036,
 26131037,
 26131059,
 26131059,
 26131059,
 26131060,
 26131061,
 26131061,
 26131062,
 26131076,
 26131079,
 26131138,
 26131170,
 26131177,
 26131182,
 26131204,
 26131204,
 26131207,
 26131216,
 26131216,
 26131217,
 26131217,
 26131218,
 26131218,
 26131221,
 26131221,
 26131221,
 26131221,
 26131222,
 26131222,
 26131224,
 26131244,
 26131244,
 26131249,
 26131252,
 26131262,
 26131262,
 26131264,
 26131264,
 26131266,
 26131266,
 26131273,
 26131275,
 26131276,
 26131280,
 26131286,
 26131294,
 26131311,
 26131311,
 26131334,
 26131338,
 26131338,
 26131384,
 26131384,
 26131384,
 26131384,
 26131411,
 26131411,
 26131411,
 26131412,
 26131412,
 26131413,
 26131422,
 26131430,
 26131440,
 26131442,
 26131442,
 26131444,
 26131470,
 26131539,
 26131542,
 26131542,
 26131542,
 26131542,
 26131543,
 26131543,
 26131552,
 26131552,
 26131563,
 26131565,
 26131576,
 26131576,
 26131609,
 26131612,
 26131613,
 26131616,
 26131616,
 26131619,
 26131623,
 26131624,
 26131650,
 26131683,
 26131683,
 26131683,
 26131692,
 26131718,
 26131719,
 26131719,
 26131723,
 26131723,
 26131723,
 26131724,
 26131729,
 26131739,
 26131743,
 26131746,
 26131746,
 26131751,
 26131752,
 26131763,
 26131763,
 26131766,
 26131767,
 26131772,
 26131805,
 26131809,
 26131809,
 26131829,
 26132040,
 26132048,
 26132058,
 26132059,
 26132072,
 26132072,
 26132080,
 26132082,
 26132083,
 26132083,
 26132090,
 26132092,
 26132100,
 26132118,
 26132121,
 26132125,
 26132132,
 26132136,
 26132136,
 26132140,
 26132140,
 26132156,
 26132164,
 26132171,
 26132172,
 26132172,
 26132177,
 26132178,
 26132178,
 26132228,
 26132228,
 26132229,
 26132230,
 26132231,
 26132231,
 26132257,
 26132259,
 26132267,
 26132267,
 26132294,
 26132295,
 26132295,
 26132295,
 26132295,
 26132299,
 26132300,
 26132311,
 26132314,
 26132315,
 26132335,
 26132335,
 26132366,
 26132368,
 26132370,
 26132370,
 26132393,
 26132393,
 26132397,
 26132413,
 26132414,
 26132414,
 ...]

In [26]:
test = []
for i in top_perfume:
    test.append(perfume_df[perfume_df['pk'] == i])

df = test[0]
for i in range(1,len(test)):
    df = df.append(test[i])
df

,pk,name,top_notes,heart_notes,base_notes
0,26120003,X-Centric,"[178, 224, 229, 292, 388, 395, 646]","[358, 545, 785]","[26, 193, 624, 692]"
5,26120019,1881 pour Homme,"[82, 96, 237, 292, 481, 512, 515, 793, 886]","[102, 785, 966]","[26, 808]"
32,26120076,Alain Delon Pour Homme,"[82, 178, 292, 604, 883]","[96, 473, 785]","[26, 624, 808, 920, 924]"
42,26120105,Antaeus,"[96, 193, 229, 259, 515, 530, 628]","[82, 473, 669, 692, 785, 808, 896]","[89, 191, 498, 513, 624, 649, 652]"
60,26120141,Astor,"[177, 808]",[],[]
...,...,...,...,...,...
14224,26160623,Casino Elixir,"[16, 26, 28, 30, 45, 96, 98, 102, 193, 473, 64...",[],[]
14224,26160623,Casino Elixir,"[16, 26, 28, 30, 45, 96, 98, 102, 193, 473, 64...",[],[]
14232,26160637,Gardenia & Oud Absolu,"[7, 26, 367, 624]",[],[]
14233,26160638,Confetti,"[785, 808, 928]",[],[]
14234,26160640,Fresh As,"[246, 347, 574]",[],[]

In [27]:
df = df.reset_index(drop=True)

In [34]:
df[df['pk'] == 26120105]

,pk,name,top_notes,heart_notes,base_notes
3,26120105,Antaeus,"[96, 193, 229, 259, 515, 530, 628]","[82, 473, 669, 692, 785, 808, 896]","[89, 191, 498, 513, 624, 649, 652]"
3,26120105,Antaeus,"[96, 193, 229, 259, 515, 530, 628]","[82, 473, 669, 692, 785, 808, 896]","[89, 191, 498, 513, 624, 649, 652]"

In [29]:
cat8 = cat_notes['note_idx'].apply(literal_eval)[8]
middle_perfume = []

for i in range(len(df)):
    for j in range(len(df['heart_notes'][i])):
        if df['heart_notes'][i][j] in cat8:
            middle_perfume.append(df['pk'][i])
len(middle_perfume)

216

In [33]:
middle_perfume

[26120105,
 26120105,
 26120159,
 26120223,
 26120504,
 26120504,
 26120504,
 26120504,
 26120586,
 26120586,
 26120695,
 26120745,
 26120745,
 26120745,
 26120796,
 26120933,
 26120933,
 26121107,
 26121372,
 26121372,
 26121372,
 26121406,
 26121406,
 26121414,
 26122468,
 26122489,
 26122742,
 26122742,
 26123541,
 26123577,
 26124394,
 26124404,
 26124404,
 26124455,
 26126156,
 26128362,
 26128362,
 26128460,
 26128460,
 26128460,
 26128571,
 26128725,
 26128725,
 26128725,
 26129336,
 26129336,
 26129336,
 26129336,
 26129666,
 26132164,
 26133124,
 26133266,
 26133676,
 26133933,
 26134549,
 26134803,
 26134803,
 26134834,
 26134834,
 26135031,
 26135192,
 26135192,
 26135192,
 26135470,
 26135470,
 26135470,
 26135470,
 26135470,
 26135470,
 26135470,
 26135470,
 26135652,
 26135845,
 26135863,
 26136672,
 26136672,
 26136674,
 26136730,
 26136730,
 26136730,
 26136765,
 26137001,
 26137192,
 26137192,
 26137778,
 26137778,
 26137778,
 26137954,
 26137954,
 26138040,
 26138040,
 26138040,
 26139118,
 26139183,
 26139676,
 26139688,
 26140724,
 26140724,
 26140955,
 26140955,
 26140955,
 26141189,
 26141189,
 26141189,
 26141189,
 26141189,
 26141189,
 26141211,
 26141211,
 26141391,
 26141584,
 26143052,
 26143052,
 26143181,
 26143181,
 26143465,
 26143649,
 26143921,
 26143953,
 26143953,
 26143953,
 26143971,
 26143971,
 26144275,
 26144275,
 26144275,
 26144809,
 26144809,
 26144809,
 26145031,
 26145031,
 26145031,
 26145039,
 26145114,
 26145663,
 26145663,
 26145663,
 26145663,
 26145663,
 26145663,
 26145663,
 26145663,
 26145663,
 26145804,
 26145806,
 26145806,
 26146372,
 26146372,
 26146372,
 26146506,
 26146506,
 26146539,
 26147446,
 26147453,
 26147676,
 26148030,
 26148030,
 26148425,
 26148449,
 26148449,
 26148449,
 26148449,
 26148765,
 26149148,
 26149182,
 26149322,
 26149730,
 26149732,
 26149804,
 26150226,
 26150299,
 26150366,
 26150366,
 26151051,
 26151250,
 26151419,
 26151419,
 26152477,
 26152477,
 26152477,
 26153168,
 26153173,
 26153173,
 26154007,
 26154242,
 26155489,
 26155563,
 26155571,
 26155571,
 26155707,
 26155707,
 26155803,
 26155803,
 26156368,
 26156622,
 26156829,
 26156918,
 26157649,
 26157835,
 26157964,
 26158073,
 26158073,
 26158120,
 26159405,
 26159405,
 26159407,
 26159407,
 26159407,
 26159870,
 26159880,
 26159941,
 26159952,
 26159987,
 26160397,
 26160415,
 26160588]

In [30]:
test = []
for i in middle_perfume:
    test.append(df[df['pk'] == i])

df = test[0]
for i in range(1,len(test)):
    df = df.append(test[i])
df

,pk,name,top_notes,heart_notes,base_notes
3,26120105,Antaeus,"[96, 193, 229, 259, 515, 530, 628]","[82, 473, 669, 692, 785, 808, 896]","[89, 191, 498, 513, 624, 649, 652]"
3,26120105,Antaeus,"[96, 193, 229, 259, 515, 530, 628]","[82, 473, 669, 692, 785, 808, 896]","[89, 191, 498, 513, 624, 649, 652]"
5,26120159,Balafre,"[96, 292, 512, 639]","[180, 193, 341, 372, 802]","[26, 513, 624, 649, 924]"
6,26120223,Body Kouros,"[336, 472]","[193, 552]",[]
26,26120504,Eau de Grey Flannel,"[193, 292, 562, 896]","[229, 336, 512, 692]","[808, 924]"
...,...,...,...,...,...
4337,26159952,Oud Divinity,"[7, 708, 785]","[178, 187, 293, 920]","[26, 513, 692, 808, 908]"
4344,26159987,Secret Love,"[7, 455, 785, 800]","[187, 473, 513, 692, 920]","[26, 403, 624, 808]"
4426,26160397,Black Tea Musk,"[161, 808]","[193, 472, 652, 900]","[193, 341, 472]"
4428,26160415,Quai 3,"[529, 684]","[193, 599, 927]","[193, 229, 461, 649, 692]"
4454,26160588,Turbulent,"[26, 96, 627, 692, 920]","[372, 498, 661, 908, 924]","[513, 624, 800, 808]"